/* CART STYLE */

.cart {
    width: fit-content;
    height: 100%;
    @include FlexColumn(30px);
    padding: 4%;
    position: absolute;
    right: -500px;
    top: var(--header);
    background-color: #1d1d1d;
    color: white;
    z-index: 999;
    opacity: 0.8;
    animation-name: cartAni;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    @keyframes cartAni {
        from {right: -500px; opacity: 0.8;}
        to {right: 0; opacity: 1;}
    }

    ul {
        padding: 0;
    }

    li {
        position: relative;
    }
    
    --cartImg: 140px;
    figure {
        display: grid;
        grid-template-columns: var(--cartImg) 1fr;
        gap: 10px;
    }

    img {
        width: var(--cartImg);
        height: var(--cartImg);
        object-fit: cover;
        border: 1px solid black;
    }

    figcaption {
        @include FlexColumn();
        justify-content: space-around;
    }

    span {
        font-weight: 700;
        color: $colorPoint;
    }

    .cart-quantity {
        @include FlexRow();
        align-items: center;
    }

    label {
        width: 100%;
        color: $color3;
    }

    input {
        background-color: transparent;
        color: white;
        text-align: right;
        border: none;
        border: 1px solid $color3;
        border-right: none;
        margin-left: 20px;
        width: 100%;
        padding: 10px;
    }

    #changeQuantity {
        border: none;
        border: 1px solid $color3;
        color: $color3;
        padding: 10px;
    }

    #deleteItem {
        position: absolute;
        left: 10px;
        bottom: 10px;
    }

    p {
        margin-bottom: 0.3em;
    }

    &>p {
        font-size: 1.5em;
        text-align: right;
        border-top: 1px solid $color3;
        padding: 2%;
        color: $colorPoint;
        font-weight: 800;

        span {
            margin-right: 20px;
            font-weight: 300;
            font-size: .8em;
        }
    }

    &>button {
        padding: 4%;
        border-radius: 0;
        background-color: white;
        color: initial;
    }
}