/* DETAIL PAGE STYLE */

.detail {
    @include FlexRow;
    height: 80vh;
}
.product-img {
    width: 50vw;

    img {
        width: 100%;
        object-fit: cover;
    }
}
.product-detail {
    @include FlexColumn(1vh);
    justify-content: center;
    width: 50vw;
    padding: 7%;

    h2 {
        margin-bottom: 40px;
    }

    p {
        margin: 0;
    }
}
.product-detail small {
    background-color: $color2;
    color: white;
    text-transform: uppercase;
    padding: 6px 10px;
    width: fit-content;
    font-size: .7em;
    letter-spacing: 1px;
}
.product-detail button {
    margin-top: 5vh;
    background-color: $color1;
    color: white;
    width: 100%;
    height: 5vh;
    font-weight: 600;
}
.product-img img{
    height: 100%;
}