/* MOBILE VIEWPORT */

@media (max-width: 768px) {

    body {
        font-size: 14px;
    }

    .navbar {
        padding: 0 1rem;
    }

    .nav-links {
        gap: 1rem;
    }

    .logo {
        font-size: 1.25rem;
    }

    .nav-links li a {
        font-size: 0.9rem;
        text-indent: -9999px;
    }

    .nav-links li span {
        font-size: 1rem;
        text-indent: 0;
    }

    .slider {
        height: 300px;
    }

    .slider-img {
        width: 200%;
        object-fit: contain;
        margin: 0;
    }

    .item-list {
        .item-cards {
            grid-template-columns:repeat(2,48%);
            row-gap: 3vh;
        }

        .item-card {
            img {
                height: 140px;
            }
        }
    }

    .icon {
        font-size: 1rem; 
    }

    .footer p {
        font-size: 0.8rem; 
    }

    .detail {
        flex-direction: column;
        height: auto;

        .product-img, .product-detail {
            width: 100%;
        }
    }

    .cart {
        width: 100vw;
        --cartImg: 100px;
        padding: 8%;
    }
}