.item-list {
  padding: 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vw;
}
.item-list .item-card {
  width: 30vw;
  background-color: #D8D9DA;
  font-size: 12px;
}
.item-list .item-card figure {
  height: 100%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1vw;
}
.item-list .item-card figcaption {
  width: 90%;
}
.item-list .item-card img {
  width: 20vw;
  height: 20vw;
  object-fit: contain;
}
.item-list .item-card .item-category {
  border-radius: 3px;
  padding: 3px;
  width: fit-content;
  background-color: #61677A;
  color: white;
}
.item-list .item-card .item-name {
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  color: black;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

.cart {
  width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #f5f5f5;
}
.cart ul {
  padding: 0;
}
.cart li {
  position: relative;
}
.cart figure {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 10px;
}
.cart img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border: 1px solid black;
}
.cart .cart-quantity {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.cart input {
  background-color: transparent;
  border: none;
  border: 1px solid #D8D9DA;
  width: 100px;
  padding: 10px;
}
.cart #changeQuantity {
  border: none;
  background-color: #61677A;
  color: white;
  padding: 10px;
}
.cart #deleteItem {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.cart p {
  margin-bottom: 0.3em;
}