@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
}

img {
  filter: grayscale(70%) saturate(60%) brightness(0.9) contrast(110%);
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

.btn-primary {
  background-color: #2f477a;
  border-color: #2f477a;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

main {
  background-color: #f5f5f5;
}

/* HEADER STYLE */
.header {
  --header: 80px;
  height: var(--header);
  border-bottom: 1px solid #171b1f;
}

.navbar {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3rem;
}

.logo {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.7em;
  font-size: 0.8em;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #6498ff;
}

.nav-links li span {
  font-size: 1rem;
}

/* media  */
@media (max-width: 768px) {
  .navbar {
    padding: 0 1rem;
  }
  .nav-links {
    gap: 1rem;
  }
  .logo {
    font-size: 1.25rem;
  }
  .nav-links li a {
    font-size: 0.9rem;
  }
  .nav-links li span {
    font-size: 1rem;
  }
}
.footer {
  background-color: #171b1f;
  color: #9a9a9a;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.icon {
  color: #6498ff;
  font-size: 1.25rem;
  transition: color 0.3s;
}

.icon:hover {
  color: white;
}

.footer p {
  font-size: 0.9rem;
}

.slider {
  position: relative;
  height: 500px;
  overflow: hidden;
  border-bottom: 1px solid #171b1f;
}

.slider-img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: -60px;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  padding: 8px 12px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev-btn {
  left: 5px;
  z-index: 99;
}

.next-btn {
  right: 5px;
}

/* MAIN LIST STYLE */
.items {
  padding: 0 6%;
}

.item-filter {
  display: flex;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  justify-content: right;
  padding: 2%;
}
.item-filter select {
  border: none;
  padding: 1%;
  background-color: transparent;
  outline: none;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 2px;
}
.item-filter select:hover, .item-filter select:focus {
  color: #2f477a;
}

.item-list {
  width: 100%;
}
.item-list .item-cards {
  padding: 1vw;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  justify-content: space-between;
  row-gap: 2vw;
}
.item-list .item-card {
  background-color: white;
  box-shadow: 0 16px 10px -10px rgba(0, 0, 0, 0.1);
  border: 1px solid #171b1f;
}
.item-list .item-card figure {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
  align-items: center;
}
.item-list .item-card figcaption {
  width: 100%;
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
  flex-wrap: wrap;
  padding: 2% 7%;
  row-gap: 10px;
}
.item-list .item-card img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-list .item-card .item-category, .item-list .item-card .item-gender {
  padding: 3px 10px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #2f477a;
  color: white;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.item-list .item-card .item-name {
  font-weight: 500;
  width: 100%;
  font-size: 1.3em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.item-list .item-card .btn-primary {
  width: 96%;
  background-color: white;
  border: none;
  color: #6498ff;
  text-align: right;
  font-size: 1em;
}
.item-list .item-card .btn-primary::before {
  content: ">> ";
}
.item-list .pagination {
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 5vw;
       column-gap: 5vw;
}

.detail {
  display: flex;
  -moz-column-gap: 0vh;
       column-gap: 0vh;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  height: 80vh;
}

.product-img {
  width: 50vw;
}
.product-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-detail {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  justify-content: center;
}
.product-detail h2 {
  margin-bottom: 40px;
}
.product-detail p {
  margin: 0;
}

.product-detail small {
  background-color: #2f477a;
  color: white;
  text-transform: uppercase;
  padding: 6px 10px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.7em;
  letter-spacing: 1px;
}

.product-detail button {
  margin-top: 5vh;
  background-color: #171b1f;
  color: white;
  width: 100%;
  height: 5vh;
  font-weight: 600;
}

.product-img img {
  height: 100%;
}

/* CART STYLE */
.cart {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 4%;
  position: absolute;
  right: -500px;
  top: var(--header);
  background-color: #1d1d1d;
  color: white;
  z-index: 999;
  opacity: 0.8;
  animation-name: cartAni;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  --cartImg: 140px;
}
@keyframes cartAni {
  from {
    right: -500px;
    opacity: 0.8;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
.cart ul {
  padding: 0;
}
.cart li {
  position: relative;
}
.cart figure {
  display: grid;
  grid-template-columns: var(--cartImg) 1fr;
  gap: 10px;
}
.cart img {
  width: var(--cartImg);
  height: var(--cartImg);
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid black;
}
.cart figcaption {
  display: flex;
  flex-direction: column;
  row-gap: 0vh;
  justify-content: space-around;
}
.cart span {
  font-weight: 700;
}
.cart .cart-quantity {
  display: flex;
  -moz-column-gap: 0vh;
       column-gap: 0vh;
  align-items: center;
}
.cart label {
  width: 100%;
  color: #2f477a;
}
.cart input {
  background-color: #9a9a9a;
  border: none;
  margin-left: 20px;
  width: 100px;
  padding: 10px;
}
.cart #changeQuantity {
  border: none;
  background-color: #2f477a;
  color: #9a9a9a;
  padding: 10px;
}
.cart #deleteItem {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.cart p {
  margin-bottom: 0.3em;
}
.cart > p {
  font-size: 1.3em;
  text-align: right;
  border-top: 1px solid white;
  padding: 2%;
}
.cart > p span {
  color: #2f477a;
  margin-right: 20px;
}
.cart > button {
  padding: 4%;
}

/* media  */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .nav-links li a {
    text-indent: -9999px;
  }
  .nav-links li span {
    text-indent: 0;
  }
  .slider {
    height: 300px;
  }
  .slider-img {
    width: 200%;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0;
  }
  .item-list .item-cards {
    grid-template-columns: repeat(2, 48%);
    row-gap: 3vh;
  }
  .item-list .item-card img {
    height: 140px;
  }
  .icon {
    font-size: 1rem;
  }
  .footer p {
    font-size: 0.8rem;
  }
  .detail {
    flex-direction: column;
  }
  .cart {
    width: 100vw;
    --cartImg: 100px;
  }
}/*# sourceMappingURL=styles.css.map */